@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider Theme="BalancerTheme" />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />

<NavMenu />
<div class="page">
    <main class="content px-4" style="margin-top: 64px;"> @* Adjust top margin to prevent overlap *@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    MudTheme BalancerTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "1A1B41",
            Secondary = "C2E7DA",
            AppbarBackground = "6290C3",
        },
        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}
