@page "/donors"
@inject DonorService DonorService
@using Microsoft.EntityFrameworkCore
@using global::Balancer.Components.Services
@using global::Balancer.Components.Models
@using global::Balancer.Components.Data

<h3>Donor Management</h3>

<table>
    <thead>
        <tr>
            <th>Donor Number</th>
            <th>Donor Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="number" @bind="newDonor.DonorNumber" />
            </td>
            <td>
                <input type="text" @bind="newDonor.Name" />
            </td>
            <td>
                <input type="text" @bind="newDonor.Address" />
            </td>
            <td>
                <button @onclick="SaveDonor">Save</button>
            </td>
        </tr>
    </tbody>
</table>

<hr />

<table>
    <thead>
        <tr>
            <th>Donor Number</th>
            <th>Donor Name</th>
            <th>Address</th>
            <th>Total Donations</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donor in donors)
        {
            <tr>
                <td>@donor.DonorNumber</td>
                <td>
                    @if (editingDonor?.Name == donor.Name)
                    {
                        <input type="text" @bind="editingDonor.Name" />
                    }
                    else
                    {
                        @donor.Name
                    }
                </td>
                <td>
                    @if (editingDonor?.Address == donor.Address)
                    {
                        <input type="text" @bind="editingDonor.Address" />
                    } 
                    else
                    {
                        @donor.Address
                    }
                </td>
                <td>@donor.TotalDonations</td>
                <td>
                    @if (editingDonor?.DonorNumber == donor.DonorNumber)
                    {
                        <button @onclick="() => UpdateDonor(donor)">Save</button>
                        <button @onclick="CancelEdit">Cancel</button>
                    }
                    else
                    {
                        <button @onclick="() => EditDonor(donor)">Edit</button>
                        <button @onclick="() => DeleteDonor(donor.DonorNumber)">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<DonorModel> donors = new();
    private DonorModel newDonor = new();
    private DonorModel? editingDonor;

    protected override async Task OnInitializedAsync()
    {
        await LoadDonors();
    }

    private async Task LoadDonors()
    {
        donors = await DonorService.GetDonorsAsync();
    }

    private async Task SaveDonor()
    {
        if (newDonor.DonorNumber > 0 && !string.IsNullOrWhiteSpace(newDonor.Name))
        {
            await DonorService.AddDonorsAsync(newDonor);
            newDonor = new();
            await LoadDonors();
        }
    }

    private void EditDonor(DonorModel donor)
    {
        editingDonor = donor;
    }

    private async Task UpdateDonor(DonorModel donor)
    {
        if (editingDonor != null)
        {
            await DonorService.UpdateDonorAsync(editingDonor);
            editingDonor = null;
            await LoadDonors();
        }
    }

    private void CancelEdit()
    {
        editingDonor = null;
    }

    private async Task DeleteDonor(int donorNumber)
    {
        await DonorService.DeleteDonorAsync(donorNumber);
        await LoadDonors();
    }
}
